/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heart {  
  from {
    transform: scale(1);
    transform-origin: center;
  }

  to {
    transform: scale(1.25);
    transform-origin: center;
  }
}

@keyframes sparks {  
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.main-body {
  fill: none;
}

.core {
  fill: none;
}

.sparks {
  opacity: 0;
}

/*Анимация при наведении*/

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-duration: 0.3s;
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition-duration: 0.3s;
  transition-delay: 0.03s;
}

/*Анимация при зажатии*/

.like-icon:active .core {
  fill: var(--fill-color);
  transition-duration: 0.3s;
  transition-delay: 0.03s;
}

.like-icon:active .main-body {
  fill: var(--fill-color);
  transition-duration: 0.3s;
  transition-delay: 0.03s;
}

/*Анимация при нажатии*/

.like-icon.is-liked .core {
  fill: var(--fill-color);
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition-duration: 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}



