@keyframes heart {
  from {
    transform: scale(1);
    transform-origin: center;
  }

  to {
    transform: scale(1.25);
    transform-origin: center;
  }
}

@keyframes sparks {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

/*Анимация при наведении*/

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

/*Анимация при зажатии*/

.like-icon:active .core {
  fill: var(--fill-color);
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--fill-color);
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

/*Анимация при нажатии*/

.like-icon.is-liked .core {
  fill: var(--fill-color);
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}

/*Анимация при фокусе*/

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}