.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight-paragraph), 'wdth' 100, 'opsz' 0;
  display: grid;
  gap: 100px;
  padding: 100px 0;
  justify-items: center;
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-family: var(--accent-font);
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: var(--border-primary);
  background-color: var(--shadow-color);
}

.header__text {
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  align-self: center;
}

.header__paragraph {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  align-self: center;
}

.main__section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__article {
  display: flex;
  flex-direction: column;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: var(--border-primary);
  background-color: var(--shadow-color);
}

.main__article-title {
  font-variation-settings: 'wght' var(--main-font-weight-title), 'wdth' 100, 'opsz' 0;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  text-wrap: wrap;
  padding: 5px 10px 4px;
}

.main__article-image-block {
  position: relative;
  border-block: var(--border-primary);
}

.main__article:nth-of-type(2) .main__article-image {
  filter: grayscale(0.7);
}

.main__article:nth-of-type(3) .main__article-image {
  filter: saturate(250%);
}

.main__article:nth-of-type(4) .main__article-image {
  filter: sepia(99%);
}

.main__article:nth-of-type(5) .main__article-image {
  filter: invert(0.7);
}

.main__article:nth-of-type(6) .main__article-image {
  filter: hue-rotate(310deg);
}

.main__article:nth-of-type(7) .main__article-image {
  filter: blur(0.2rem);
}

.main__article:nth-of-type(8) .main__article-image {
  filter: hue-rotate(40deg) contrast(0.4) brightness(100%) sepia(30%); 
}

.main__article-image {
  width: 100%;
  display: block;
}

.main__article-watermark {
  position: absolute;
  top: 23px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-shadow: 1px var(--shadow-color);
  mix-blend-mode: hard-light;
  opacity: 50%;
}

.main__article-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 25px;
  line-height: 21px;
}

.main__article-pargraph {
  font-size: 18px;
}

.main__article-button-block {
  display: flex;
  justify-content: end;
  gap: 4px;  
  padding: 0 25px 25px 0;
}

.card__icon-button {
  background-color: transparent;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.like-icon {
  cursor: pointer;
  display: block;
}

.button {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  background-color: transparent;
  border: var(--border-primary);
  outline: none;
  cursor: pointer;
  position: relative;
  color: var(--button-text-color);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  align-self: center;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  text-wrap: wrap;
}

.card__memory-button {
  display: flex;
  gap: 8px;
  align-self: center;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--shadow-color);
}

.button:hover .floppy__image {
  fill: var(--button-text-color);
  filter: invert(1);
}

.floppy__image {
  inline-size: 21px;
  block-size: 21px;
  fill: var(--text-color);
  transition: filter 0.7s;
}

.dialog {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

.dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  row-gap: 20px;
  column-gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 30px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__image {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__title {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__button {
  width: 100%;
  padding-block: 12.5px;
  text-transform: uppercase;
  grid-column: span 2;
}

@supports((text-stroke: 1px var(--shadow-color))) or (-webkit-text-stroke: 1px var(--shadow-color)) {
  .main__article-watermark {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .card__memory-button {
    flex-direction: column;
  }

  .main__article-watermark {
    right: 11px;
  }

  .main__article-title {
    padding: 4px 10px 5px;
  }

  .floppy__image {
    inline-size: 28px;
    block-size: 28px;
  }
}