:root {
  --main-font: "Inter-Variable";
  --main-font-weight-title: 700;
  --main-font-weight-paragraph: 400;
  --main-font-size: 18px;
  --accent-font: PressStart2P;
  --mobile-block-width: 100%; 
  --shadow-color: #fff;
  --text-color: #000;
  --bg-color:
  --bg-image: 
}